<!-- DOCTYPE html -->
<html>
  <head>
    <title><%= site.name %> CMS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="/admin/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/admin/css/calendarview.css" rel="stylesheet" type="text/css">
    <link href="/admin/css/tinyeditor.css" rel="stylesheet" type="text/css">
    <link href="/admin/css/admin.css" rel="stylesheet" type="text/css">
    <script src="/admin/javascript/prototype.js"></script>
    <script src="/admin/javascript/calendarview.js"></script>
    <script src="/admin/javascript/tinyeditor.js"></script>
    <script src="/admin/javascript/admin.js"></script>
    <script src="/admin/javascript/s2.min.js"></script>
    <script src="/admin/javascript/s2.extra.js"></script>
  </head>
  <body>
    <header>
      <h1><%= site.name %> <span>CMS</span></h1>
      <nav>
        <menu>
          <% Yodel.config.admin_tabs.each do |controller| %>
            <li class='<%= controller == @controller.class ? 'selected' : '' %>'><a href="<%= controller.path_and_action_for(:index).path %>"><%= controller.tab_name %></a></li>
          <% end %>
        </menu>
      </nav>
    </header>
    <article>
      <aside class="items">
        <%= @content %>
      </aside>
      <% controller_models.each do |model| %>
        <%= form_for_model(model.new(site: site), '', 'get') %>
        <script>
          defaultRecords['<%= model.name.demodulize.underscore %>'] = <%= model.default_values_to_json_hash.to_json %>;
        </script>
      <% end %>
    </article>
    
    <% if session['errors'] %>
      <script>
        alert("An error occurred creating this record:\n\n<%= session['errors'].collect {|key, errors| "#{key.to_s.humanize.titleize}: #{errors.join(' and ')}"}.join('\n') %>");
      </script>
      <% session.delete('errors') %>
    <% end %>
  </body>
</html>
