<h1><%= tab_name %></h1>
<ul class="flat">
  <% controller_models.each do |model| %>
    <li>
      <h1><%= model.name.demodulize.underscore.humanize.pluralize.titleize %> <a href="#" onclick="newRecord('<%= model.name.demodulize.underscore %>', '<%= model.controller.path_and_action_for(:create).path %>'); return false;" class="new_child"><img src="/admin/images/add.png"></a></h1>
      <ul>
        <% model.all_for_site(site, @conditions).each do |record| %>
          <li id="<%= record.id %>" class="record_row <%= "selected" if @selected_record == record %>">
            <img src="<%= record.icon %>">
            <a href="#" onclick="loadRecord('<%= record.class.controller.path_and_action_for(:show, id: record.id).path %>'); return false;"><%= record.name %></a>
            <a href="#" class="delete" onclick="destroyRecord('<%= record.name %>', '<%= record.class.controller.path_and_action_for(:destroy, id: record.id).path %>'); return false;"><img src="/admin/images/delete.png"></a>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

<% if @selected_record %>
  <script>
    loadRecord('<%= @selected_record.class.controller.path_and_action_for(:show, id: @selected_record.id).path %>');
  </script>
<% end %>
